.myText {
  text-align: left;
  padding-left: 78px;
}

.App-topCompanies {
  padding-top: 20px;
  padding-bottom: 10px;
}

.App-charts {
  column-width: 200px;
  justify-content: center;
  display: flex;
}

.App-diff {
  justify-content: center;
  width: 450px;
  height: 450px;
}

.App {
  text-align: center;
}

.App-cover {
    width: 100%;
    height: 100%;
  }

.App-logo {
  justify-content: center;
  /*
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  */
}

.App-header {
  background-color: #ffe396;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
